.container {
  margin-top: 30px;
}

.container > .row > .row.time {
  display: flex;
  justify-content: center;
}
.btnRow {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

.btn {
  padding: 1.5rem;
}

.timer {
  font-size: 10rem;
}
